
.lightTheme{
      headerBg: "#F7B30C",
      fontColor: "black",
      bodybg: "white",
    
    }


    .darkTheme{
      headerBg: "#3c3c3c",
      fontColor: "white",
      bodybg: "black",
    }

    